# This file contains common pin mappings for the ZONESTAR Z9V5PRO MK4
# The firmware should be compiled and flashed using the uSD-CARD method
# (renaming klippy.bin to firmware.bin and placing it on the rood of uSD-CARD)
#    * MCU Architecture - STM32
#    * Processor model - STM32F103
#    * Bootloader offset - 20KiB bootloader
#    * Communication interface (USB(on PA11/PA12))
# 
# The pinout doesn't match NET-s names on the board, but to the `pins_ZM3E4_V2_0.h` file 
# See https://github.com/ZONESTAR3D/Control-Board/blob/main/32bit/ZM3E4/ZM3E4V21/pins_ZM3E4_V2_0.h
# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.
# See https://www.klipper3d.org/Installation.html



[include macro.cfg]
[include multiextruder.cfg]
# [include inputshaper.cfg] 
[include bltouch.cfg]
[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_28001100170000464C59504E-if00
restart_method: command

[homing_override]
axes: xyz
set_position_z: 0
gcode:
  G1 F1000
  G1 Z10
  G28 Y
  G28 X
  G28 Z
  G1 X20 Z10 F8000
  
[virtual_sdcard]
path: /home/user/printer_data/gcodes

[idle_timeout]
timeout: 14400

[pause_resume]

[display_status]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2500
max_z_velocity: 25
max_z_accel: 500

[stepper_x]
step_pin: PE1 
dir_pin: !PE2
enable_pin: !PE0
microsteps: 16
rotation_distance: 20
endstop_pin: !PC13
position_endstop: 0
position_max: 310
homing_speed: 50
homing_retract_dist: 10
second_homing_speed: 10.0

[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE6
microsteps: 16
rotation_distance: 20
endstop_pin: !PE3
position_endstop: -20
position_min: -20
position_max: 300
homing_speed: 50
homing_retract_dist: 10
second_homing_speed: 10.0

[stepper_z]
step_pin: PD3
dir_pin: PD4
enable_pin: !PD2
microsteps: 16
rotation_distance: 4
endstop_pin: !PD7
position_min: -20
position_max: 395
homing_retract_dist: 0
second_homing_speed: 8.0

[stepper_z1]
step_pin: PC12
dir_pin: PD0
enable_pin: !PC11
endstop_pin: !PD1
microsteps: 16
rotation_distance: 4

# [probe]
# pin: !PB13
# x_offset: 0.0
# y_offset: -34.0 # the sensor is on front of the nozzle and hence if you try to
# # probe the bed at the back, the nozzle needs to go back more, but the movement
# # of the Y axis is limited and it even can't reach the last 10 mm of the bed.
# # so don't try to map futher than 300+y_offset

# # z_offset - The distance from the nozzle to the bed when the probe triggers.
# # This value can be determined by running the PROBE_CALIBRATE command.
# speed: 2.0


[screws_tilt_adjust]
# Enables usage of SCREWS_TILT_CALCULATE command, for some reason it requires
# to manually add probe offsets to the screws coordinates.
# so all Y coordinates are increased by 34mm (but clipped by Y position_max)
screw1:  10,  44
screw1_name: front left screw
screw2: 300,  44
screw2_name: front right screw
screw3: 300, 300
screw3_name: rear right screw
screw4:  10, 300
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[extruder]
step_pin: PD10
dir_pin: !PD9 
enable_pin: !PD11
microsteps: 16
rotation_distance: 4
pressure_advance = 0.6
pressure_advance_smooth_time = 0.1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC5
sensor_type: Generic 3950
# NTC 100K B3960 (used)
sensor_pin: PC2
min_temp: 0
max_temp: 250
max_extrude_only_distance: 500
max_extrude_cross_section: 3
# it feels that there is a bug, as extruder accel is much more sensitive:
max_extrude_only_accel: 150 
min_extrude_temp: 0

[verify_heater extruder]
max_error: 160
check_gain_time: 30

#[firmware_retraction]
#retract_length: 1.8 # redo with dry filament

[heater_fan hotend_fan]
pin: PB8
max_power: 1.0
fan_speed: 1
kick_start_time: 0
heater: extruder
heater_temp: 60.0

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
min_temp: 0
max_temp: 80

[fan]
pin: PB1
max_power: 1.0

[input_shaper]
# E4 calibrations:
# X: N=8 V=120mm/s Fx=120*8/22=43.636Hz
# Y: N=11 V=120mm/s Fy=120*11/34=38.82Hz
# After applying it, the remaining vibrations are at:
# X: N=7 V=120mm/s Fx=120*7/22= 38.18Hz
# Y: N=5 V=120mm/s Fy=120*5/15.5=38.71Hz

# M4V6 calibrations:
# X: N=7 L=8mm V=7200/60*0.4=48mm/s Fx=48*7/8=42Hz
# Y: N=4 L=4.5mm V=7200/60*0.4=48mm/s Fy=48*4/4.5=42.66Hz
shaper_freq_x: 42
shaper_freq_y: 42.66
shaper_type: mzv

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 13.131
#*# pid_ki = 0.379
#*# pid_kd = 113.748
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.702
#*# pid_ki = 0.727
#*# pid_kd = 1576.615
#*#
#*# [stepper_z]
#*# position_endstop = 0
#*#
#*# [bltouch]
#*# z_offset = 1.931
#*#
#*# [bed_mesh flex]
#*# version = 1
#*# points =
#*# 	-0.708750, -0.922500, -0.939583, -0.838750, -0.661250, -0.367917
#*# 	-0.730417, -0.795833, -0.879583, -0.777083, -0.626250, -0.404583
#*# 	-0.688750, -0.800833, -0.859583, -0.791667, -0.640833, -0.422917
#*# 	-0.705833, -0.759583, -0.808333, -0.750417, -0.618750, -0.455000
#*# 	-0.605417, -0.719583, -0.793333, -0.781250, -0.600833, -0.434583
#*# 	-0.527500, -0.601667, -0.620833, -0.590833, -0.514167, -0.353750
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [bed_mesh flex2]
#*# version = 1
#*# points =
#*# 	-0.822083, -0.932917, -0.905000, -0.877500, -0.622500, -0.380833
#*# 	-0.837083, -0.909583, -0.922083, -0.881667, -0.639583, -0.424583
#*# 	-0.810417, -0.917917, -0.924167, -0.878750, -0.639167, -0.476667
#*# 	-0.698333, -0.772917, -0.741250, -0.680000, -0.534583, -0.383750
#*# 	-0.711667, -0.822500, -0.821250, -0.764167, -0.651667, -0.400000
#*# 	-0.647500, -0.744167, -0.706250, -0.684583, -0.539167, -0.342500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [bed_mesh flex3]
#*# version = 1
#*# points =
#*# 	-0.772500, -0.951667, -0.974583, -0.986250, -0.745000, -0.513333
#*# 	-0.773333, -0.825000, -0.937500, -0.918333, -0.656667, -0.528750
#*# 	-0.790833, -0.736667, -0.958750, -0.946667, -0.690417, -0.501250
#*# 	-0.665417, -0.752083, -0.795833, -0.786667, -0.690417, -0.568750
#*# 	-0.593333, -0.719167, -0.811667, -0.785417, -0.688333, -0.490417
#*# 	-0.498333, -0.660833, -0.588333, -0.695417, -0.600417, -0.420000
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [bed_mesh pei]
#*# version = 1
#*# points =
#*# 	-2.042750, -2.200250, -2.214000, -2.160667, -2.019833, -1.670667
#*# 	-2.057750, -2.177750, -2.284000, -2.258583, -2.058167, -1.892333
#*# 	-2.075667, -2.227750, -2.278167, -2.161917, -2.124833, -1.909000
#*# 	-2.000250, -2.185667, -2.239833, -2.242750, -2.078583, -1.910250
#*# 	-1.906083, -2.119000, -2.173167, -2.155250, -2.035667, -1.835667
#*# 	-1.875250, -2.019833, -2.130667, -2.091917, -1.905250, -1.721500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [bed_mesh flex4]
#*# version = 1
#*# points =
#*# 	-0.991667, -1.135000, -1.155417, -1.176667, -1.017500, -0.743333
#*# 	-0.977917, -1.145833, -1.112917, -1.110833, -0.896250, -0.752083
#*# 	-1.028333, -1.016250, -1.135000, -1.140000, -0.971250, -0.767500
#*# 	-0.933333, -1.074167, -1.077083, -1.046667, -0.963333, -0.820000
#*# 	-0.917500, -1.029167, -1.061250, -1.047500, -0.966667, -0.791250
#*# 	-0.750417, -0.930833, -0.868750, -0.901667, -0.847500, -0.646250
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [bed_mesh pei2]
#*# version = 1
#*# points =
#*# 	-1.437917, -1.632083, -1.665833, -1.610833, -1.459583, -1.086667
#*# 	-1.480000, -1.635000, -1.663333, -1.609583, -1.467917, -1.238750
#*# 	-1.502500, -1.629583, -1.667917, -1.624167, -1.540833, -1.295417
#*# 	-1.404583, -1.600833, -1.609583, -1.567500, -1.465000, -1.260000
#*# 	-1.223333, -1.565833, -1.623750, -1.592500, -1.467917, -1.201667
#*# 	-1.197083, -1.411250, -1.512083, -1.360417, -1.259167, -1.013750
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
